{% extends 'base.html' %}

{% block breadcrumb %} 
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a></li>
  <li class="breadcrumb-item active"><a href ="{% url 'course_view' pk_course.pk %}" >{{pk_course.course_id}}</a></li>
{% endblock %}

{% block content %}
 

  <div class="mb-4">
    <a href="{% url 'new_lecture' pk_course.pk %}" class="btn btn-primary">New Lecture</a>
    <a href="{% url 'student_view' pk_course.pk %}" class="btn btn-primary">Enrolled Student</a>
  </div>


  <ul>
    <li><p><strong>Course Name: </strong> {{ pk_course.course_name }}</p></li>
    <li><p><strong>Faculty: </strong> {{ pk_course.faculty.get_full_name }}</p></li>
    <li><p><strong>Semester: </strong> {{ pk_course.semester }}</p></li>
  </ul>

<section>	  


  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Slid Link</th>
      </tr>
    </thead>
    <tbody>


      {% for lecture in pk_course.lectures.all  %}
        <tr>
            <td class="align-middle" >
              <a href = "{% url 'lecture_view' lecture.pk %}" >{{ lecture.name }}
            </td>
            <td class="align-middle" >{{ lecture.date }}</td>
            <td> <a href="{{lecture.link }}" target="_blank">Click Here </a> </td>
        </tr>
      {% endfor %}
 

    </tbody>
  </table>




{% endblock %}