{% extends 'base.html' %}

{% block breadcrumb %} 
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a></li>
  <li class="breadcrumb-item active"><a href ="{% url 'course_view' pk_course.pk %}" >{{pk_course.course_id}}</a></li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    <a href="{% url 'new_lecture' pk_course.pk %}" class="btn btn-primary">New Lecture</a>
  </div>


<section>
  
  <p><strong>Course Name: </strong> {{ pk_course.course_name }}</p>


  
  <p><strong>Faculty: </strong> {{ pk_course.faculty }}</p>

</section>


<section>	  


  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>


      {% for lecture in pk_course.lectures.all  %}
        <tr>
            <td class="align-middle" >
              <a href = "{% url 'lecture_view' lecture.pk %}" >{{ lecture.name }}
            </td>
            <td class="align-middle" >{{ lecture.date }}</td>
        </tr>
      {% endfor %}



    </tbody>
  </table>




{% endblock %}