{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">CSE273</li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    <a href="{% url 'new_lecture'%}" class="btn btn-primary">New Lecture</a>
  </div>


  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Lecture Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for lecture in lectures %}
        <tr>
            <td class="align-middle" >
              <a href = "{% url 'lecture_view' lecture.pk %}" >{{ lecture.name }}
            </td>
            <td class="align-middle" >{{ lecture.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}