{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a> </li>
{% endblock %}

{% block content %}


  <table class="table">

    <thead class="thead-inverse">
      <tr>
        <th>Course ID</th>
        <th>Faculty</th>
      </tr>
    </thead>

    <tbody>
      {% for course in courses %}
        <tr>
            <td class="align-middle" >
              <a href = "{% url 'course_view' course.pk %}" >{{ course.course_id }}</a>
            </td>
            <td class="align-middle" >{{ course.facutly }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}