{% extends 'base.html' %}
{% load widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a> </li>
  <li class="breadcrumb-item active"><a href ="{% url 'course_view' pk_lecture.course.pk %}" >{{pk_lecture.course.course_id }}</a></li>
  <li class="breadcrumb-item active"><a href ="{% url 'lecture_view' pk_lecture.pk %}" >{{pk_lecture.name}}</a></li>
{% endblock %}

{% block content %}

<section>	  
  <table class="table">

    <thead class="thead-inverse">
      <tr>
        <th>Title</th>
        <th>Detail</th>
      </tr>
    </thead>

    <tbody>
        <tr>
        	<td  > <strong>Lecture Name</strong> </td>
          <td > <p>{{ pk_lecture.name }}</p> </td>
        </tr>


        <tr>
        	<td> <strong>Slid Link</strong> </td>
          <td> <a href="{{pk_lecture.link }}" target="_blank">Click Here </a> </td>
        </tr>


        <tr>
        	<td class="align-middle"> <strong>Description</strong> </td>
          <td class="align-middle" > <p>{{ pk_lecture.description }}</p> </td>
        </tr>
    </tbody>

  </table>
   
  <div>
      <h2 class="text-center logo my-4">Comment Section</h2>


  {% for post in posts%}
    <div>
<p>
    {% if post.user.type.role == 1 %}
      <a href = "#"> <strong> Faculty:</strong> </a>
    {% else %}
      <a href = "#"> <strong> {{post.user.first_name }}: </strong> </a>
    {% endif %}
      {{post.comment}}</p>

    </div>

  {% endfor %}

  </div>
  
   <form method="post">
    {% csrf_token %} 
    {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}

          {% if form.is_bound %}
            {% if field.errors %}

              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}

            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">
              {{ field.help_text }}
            </small>
          {% endif %}
        </div>
      {% endfor %}
   
    <button type="submit" class="btn btn-success">Post</button>
  </form>


{% endblock %}