{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a></li>
  <li class="breadcrumb-item active"><a href ="{% url 'course_view' pk_course.pk %}" >{{pk_course.course_id}}</a></li>
  <li class="breadcrumb-item active">New</li>
{% endblock %}

{% block content %}
 
 <section>

   <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Name</label>
      <input type="text" class="form-control" id="id_name" name="lecture_name" value={{ lecture_name }}>
    </div>

    <div class="form-group">
      <label for="id_linkr">Slid Link</label>
      <input type="text" class="form-control" id="id_link" name="link" value={{ link }}>
    </div>


    <div class="form-group">
      <label for="id_description">Description</label>
      <textarea class="form-control" id="id_description" name="lecture_description" rows="5">{{lecture_description}} </textarea>
    </div>

    <div class="form-group">
      <label for="id_date">Lecture Date</label>
      <input type="date" class="form-control" id="id_date" name="date" value = {{today}} >
    </div>


    <button type="submit" class="btn btn-success">Post</button>
  </form>


 </section>

{% endblock %}