{% extends 'base.html' %}
{% load widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href ="{% url 'home' %}" >Home</a> </li>
  <li class="breadcrumb-item active"><a href ="{% url 'course_view' pk_course.pk %}" >{{pk_course.course_id }}</a></li>
  <li class="breadcrumb-item active"><a href ="{% url 'test_view' pk_course.pk %}" >Test</a></li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    {% if user.type.role == 1 %}
      <a href="{% url 'new_test' pk_course.pk %}" class="btn btn-primary">New Test</a>
    {% endif %}
  </div> 

<section>    
  <table class="table table-bordered table-striped table-highlight">

    <thead class="thead-inverse">
      <tr>
        <th>Test</th>
        <th>Total Score</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
 
      {% for test in tests%}
        <tr>
          <td class="align-middle" > <a href ="{% url 'grade_view' test.pk %}" >{{test.test_name}} </a> </td>      
          <td class="align-middle" > {{test.total_score}}  </td>
          <td class="align-middle" > {{test.date}}  </td>

        </tr>


      {% endfor %}
    </tbody>

  </table> 

{% endblock %}